body{
  margin:0px;
}
*{
  border: 1px solid red;
}
.heading{
  background: linear-gradient(to right, #000046, #1cb5e0);
  text-align: center;
  color: white;
}

.recent-posts{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "post"
  "post";
  padding: 2%;
}
.post{
  margin: 2%;
  padding: 5%;
  border: 1px solid blue;
  border-radius: 5%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  font-family: monospace;
  text-align: center;
}
.post:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
}
.post-title{
  font-size: 20px;
}
img{
  width: 100%;
  height: 150px;
  border-radius: 2%;
}
.post-image{
  padding: 2%;
  object-fit: cover;
}
button{
  font-size: 14px;
  background-color: grey;
  color: white;
}
footer{
  text-align: center;
  background: black;
  color: white;
  margin-top: 20px;
  margin-bottom: 0px;
}

@media (min-width:600px) and (max-width:900px) {
  .recent-posts{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "post post"
    "post post";
    padding: 2%;
  }
}

@media (min-width:901px) {
  .recent-posts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    "post post post"
    "post post post";
    padding: 2%;
  }
}
